.home {
  .imgContainer {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    img {
      padding: 0;
      margin: 0;
      border: none;
      width: 100%;
      display: block;
    }
  }

  .bottomContainer {
    text-align: center;
    .openBtn {
      width: 80%;
      padding: 10px;
      display: block;
      margin: 0 auto;
      text-align: center;
      color: white;
      background-color: #ff8e42;
      border-radius: 5px;
      font-size: 20px;
    }
    input {
      width: 80%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #e5e5e5;
      color: #959595;
      text-align: center;
      font-size: 20px;
      margin: 20px 0;
    }
    input::-webkit-input-placeholder {
      color: white;
    }
    input:-ms-input-placeholder {
      color: white;
    }
    ::-moz-placeholder {
      color: white;
    }
    :-moz-placeholder {
      color: white;
    }
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #959595;
    }
    .rules-title {
      width: 100%;
      margin: 36px 0 20px 0;
      display: block;
    }
    .rules-text {
      text-align: left;
      color: #959595;
      padding: 0 7%;
      font-size: 14px;
    }
    .footer-text {
      color: #c8c8c8;
      font-size: 12px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}