.result {
  .imgContainer {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    overflow: hidden;
    img {
      padding: 0;
      margin: 0;
      border: none;
      width: 100%;
    }
  }

  .bottomContainer {
    text-align: center;
    .slogan {
      margin-top: 20px;
      color: #959595;
    }
    .certificate {
      width: 285px;
      height: 120px;
      background: url(../../common/images/certificate.png) no-repeat;
      background-size: 100% 100%;
      margin: 20px auto;

      span {
        line-height: 110px;
        color: #ff8e42;
        font-size: 50px;
        font-weight: bolder;
      }
    }
    .downloadBtn {
      width: 80%;
      padding: 10px;
      display: block;
      margin: 20px auto 22px auto;
      text-align: center;
      color: white;
      background-color: #ff8e42;
      border-radius: 5px;
      font-size: 20px;
    }
    .footerText {
      font-size: 12px;
      color: #959595;

      .phoneNumber {
        color: #ff8e42;
      }
    }
    .footer-text {
      color: #c8c8c8;
      font-size: 12px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}