.slideup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.slideup.ng-enter,
.slideup.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slideup.ng-enter {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.slideup.ng-enter-active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.slideup.ng-leave {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.slideup.ng-leave-active {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}