html, body, div, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0;
  padding: 0; }

ol, li, ul {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

li {
  list-style: none; }

body {
  background-color: #ededed;
  -webkit-user-select: none;
  user-select: none;
  tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  font-family: Microsoft YaHei, Helvetica, sans-serif;
  color: #323232;
  word-break: break-all; }

.home .imgContainer img {
  width: 100%; }

.home .bottomContainer {
  text-align: center; }
  .home .bottomContainer .openBtn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #51d7b9; }
  .home .bottomContainer input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e2e2e2;
    color: white;
    text-align: center;
    font-size: 22px;
    margin: 20px 0; }
  .home .bottomContainer input[placeholder] {
    color: white; }
