html, body, div, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0;
  padding: 0; }

ol, li, ul {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

li {
  list-style: none; }

body {
  background-color: #fbfbfb;
  -webkit-user-select: none;
  user-select: none;
  tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  font-family: Microsoft YaHei, Helvetica, sans-serif;
  color: #323232;
  word-break: break-all; }

.home .imgContainer {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  overflow: hidden; }
  .home .imgContainer img {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%; }

.home .bottomContainer {
  text-align: center; }
  .home .bottomContainer .openBtn {
    width: 80%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #ff8e42;
    border-radius: 5px;
    font-size: 22px; }
  .home .bottomContainer input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    color: white;
    text-align: center;
    font-size: 22px;
    margin: 20px 0; }
  .home .bottomContainer input[placeholder] {
    color: white; }
  .home .bottomContainer h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #959595; }
  .home .bottomContainer .rules-text {
    text-align: left;
    color: #959595;
    padding: 0 7%; }
